<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.gatling.http.engine.response" level="WARN"/> <!-- TRACE for ALL and DEBUG for FAILURES -->

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
