name: API CI using Gradle

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore: 
      - "user-interface/**"
      - "test-consumers/compose/**"
  pull_request:
    branches: [ "main" ]
    paths-ignore: 
      - "user-interface/**"
      - "test-consumers/compose/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  # The Dependency Submission API requires write permission on the repository to submit dependencies
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Java JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        dependency-graph: ${{ github.ref == 'refs/heads/main' && 'generate-and-submit' || 'generate' }}

    - name: Setup Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    - name: Gradle build
      run: ./gradlew build

    - name: Jacoco Report to PR
      id: jacoco
      if: github.event_name == 'pull_request'
      uses: madrapps/jacoco-report@v1.6.1
      with:
        paths: ${{ github.workspace }}/**/build/reports/jacoco/**/jacocoTestReport.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 75
        min-coverage-changed-files: 75
        title: Code Coverage
        update-comment: true
        pass-emoji: ':green_circle:'
        fail-emoji: ':red_circle:'
        debug-mode: true
        skip-if-no-changes: true
