name: Build the Compose test consumer

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "test-consumers/compose/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "test-consumers/compose/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Java JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Gradle build
      working-directory: ./test-consumers/compose
      run: ./gradlew build
